@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background: white !important;
  }
  
  .invoice-preview {
    box-shadow: none !important;
    border: none !important;
  }
}
